/* SHARED PAGE FEATURES 
(logo, divider line, nav menu, headers, alignment)
*/

/*sizes logo*/
.logo {
    width: 400px;
}

/*refereced stackoverflow here (Gregg B?) to make the dividing line thicker*/
hr {
    border: none;
    height: 3px;
    color: black;
    background-color: black;
}

/*changes nav link to all caps, no underline and black*/
a.nav-element {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    /*text-align: center;*/
}

/* ???????????????????? Trying to align text center ?????????????????? */
/*.nav-element {
    text-align: center;
}*/

/*turns nav link bold and yellow on hover*/
.nav-element:hover {
    font-weight: bold;
    background-color: yellow;
}

/*unbolds h2*/
h2 {
    font-weight: 500;
}

/*aligns elements in the center of the page*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

/* PRODUCT/GALLERY PAGE */

/*sizes product images and adds border*/
.product-page-image {
    width: 400px;
    height: 400px;
    border: solid black;
}

/*on hover, text turns bold and imaage and text are highlighted*/
.product-page-setup:hover{
    font-weight: bold;
    background-color: yellow;
    padding: 10px; /*how to eliminate the extra yellow under the price?*/
}

/*removes underline for price and changes text color to black*/
a.pdesc-page-link{
    text-decoration: none;
    color: black;
}

/*adds underline to title*/
.product-page-title {
    text-decoration: underline;
}

/* PRODUCT DESCRIPTION PAGE */

.product-desc-image {
    width: 600px;
    height: 600px;
    border: solid black;
}


/* PRODUCT CART PAGE */
.cart-image {
    width: 200px;
    height: 200px;
    border: solid black;
}