/* SHARED PAGE FEATURES 
(logo, divider line, nav menu, headers, alignment)
*/

/*sizes logo*/
.logo {
    width: 400px;
}

/*refereced stackoverflow here (Gregg B?) to make the dividing line thicker*/
hr {
    border: none;
    height: 3px;
    color: black;
    background-color: black;
}

/*changes nav link to all caps, no underline and black*/
a.nav-element {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

/* ???????????????????? Trying to align text center ?????????????????? */
.nav-element {
    text-align: center;  
    font-size: 30px;
}

/*unbolds h2*/
h2 {
    font-weight: 500;
    font-size: 50px;
}

/*aligns elements in the center of the page*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

/* PRODUCT/GALLERY PAGE */

/*makes PRODUCTS in nav menu bold and yellow highlight*/
#product-nav-home {
    font-weight: bold;
    background-color: yellow;
}

/*sizes product images and adds border*/
.product-page-image {
    width: 285px;
    height: 285px;
    border: solid black;
}

/*on hover, text turns bold and imaage and text are highlighted*/
.product-page-setup:hover{
    font-weight: bold;
    background-color: yellow;
    padding: 10px; /*how to eliminate the extra yellow under the price?*/
}

/*removes underline for price and changes text color to black*/
a.pdesc-page-link{
    text-decoration: none;
    color: black;
}

/*adds underline to title*/
.product-page-title {
    text-decoration: underline;
}

/* PRODUCT DESCRIPTION PAGE */

/*makes PRODUCTS in nav menu bold and yellow highlight*/
#product-nav-desc {
    font-weight: bold;
    background-color: yellow;
}

/*updates the size of the image and adds border*/
.product-desc-image {
    width: 600px;
    height: 600px;
    border: solid black;
}

/*places instructions in a box for sizing*/
.product-details {
    width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*space between drop downs and other content*/
.dropdowns-middle {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*aligns drop down menu titles to the left?*/
label {
    float: left;
}


/*makes drop down menus the same length 
by fitting them to the div container 
(product-details)*/
select {
    width: 100%;
}

/*positioning price and button*/
.price-and-cbutton-end{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    /*align-content: flex-end; /*How to add space between button and menu???????*/
}

/*changes the add to cart and checkout button styles*/
#addcart-button, #checkout-button {
    background-color: yellow;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: auto;
    padding: 5px 20px; /*changing left and right, not top and bottom??????*/
}

/* PRODUCT CART PAGE */

/*makes CART in nav menu bold and yellow highlight*/
#cart-nav-cart {
    font-weight: bold;
    background-color: yellow;
}

/*sizes cart images and adds black border*/

.shopping-cart-structure {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*why does only one item container respond?*/
}

.cart-image {
    width: 200px;
    height: 200px;
    border: solid black;
}

.remove-button {
    font-size: small;
    margin-top: auto;
    text-align: center;
}

.item-details {
    text-align: center;
    line-height: 0.5;
    margin-bottom: 50px;
}

#checkout-line {
    width: 50%;
    margin: auto;
}

.checkout-footer {
    
}
/*p {
    font-size: 20px;
}*/

/*FLEXBOX STYLING
header{
    display: flex;
    flex-direction: row;

}*/
.header-container {
    /*background-color: gray; */
    display: flex;
    padding: 50px, 0px, 50px, 50px;
    /*flex-direction: row;*/
    
}
.logo-container {
    /*background-color: blue;*/
    width: 420px;
    flex-shrink: 0;
}
.menu-line-pagetitle-container {
    /*background-color: red;*/
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

nav{
    /*background-color: bisque;*/
    display: flex;
    margin-left: auto;
    flex-direction: row;
}

/*.products-nav, .cart-nav {
    justify-content: flex-end;
}*/

.products-nav {
    /*background-color: green;*/
    padding: 10px 100px;
    justify-content: flex-start;
}

.cart-nav {
    /*background-color: blueviolet;*/
    padding: 10px 100px;
}
/*Referenced Craig Scott on stackoverflow.com to learn 
about why flex makes <hr> disappear (due to margin attribute) 
*/
.divider-line { 
    margin-left: 0;
    margin-right: 0;
}

.main-container {
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.image-row1 {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image-row2 {
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#walnut-roll {
    background-color: aliceblue;
}
