body {
    background-image: url("../final-project/images/cafe-background.JPG");
    background-repeat: no-repeat;
    background-size: cover; /*image covers all of body*/
    background-attachment: fixed; /*image remains in position when scrolling */
} /*code form freeCodeCamp.org */